{% extends 'base.html.twig' %}

{% block title %}Hello ThreadController!{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('app_register') }}">Créer un compte</a>
        {% if(app.user) %}
            <a href="{{ path('app_logout') }}">Log out</a>
        {% else %}
            <a href="{{ path('app_login') }}">Log in</a>
        {% endif %}
    </div>
    {% if(app.user) %}

        <div>

            <div>
                <strong>{{ thread.subject }}</strong>
                {% if(app.user) %}
                    <div>
                        <a href="{{ path('thread_edit', {'id': thread.id}) }}">Éditer le thread</a>
                    </div>
                {% endif %}
                <div class="container w-80">
            </div>

            <div class="container w-80">

                <div class="list-group">
                    {% for post in thread.posts %}
                        <div class="list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ post.content }}</h5>
                                <div>
                                    <a href="{{ path('post_edit', {'id': thread.id}) }}">Éditer le post</a>
                                </div>
                            </div>
                            <div>
                                <p>Posté le {{ post.createdAt|date('Y-m-d') }}</p>
                                <p>par {{ threadAuthor }}</p>
                            </div>


                        </div>
                    {% endfor %}
                </div>
                {% if(app.user) %}
                    <a href="{{ path('post_add', {'id': thread.id}) }}">Créer un nouveau post</a>
                {% endif %}

            </div>

        </div>

    {% endif %}



{% endblock %}
