{% extends 'base.html.twig' %}

{% block title %}SubCategoryController!{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('app_register') }}">Créer un compte</a>
        {% if(app.user) %}
            <a href="{{ path('app_logout') }}">Log out</a>
        {% else %}
            <a href="{{ path('app_login') }}">Log in</a>
        {% endif %}
    </div>

    <div>

        <div class="container w-80">
            <div class="list-group">
                <p>nom de la sous catégorie : {{ subCategory.name }}</p>
                {% if(app.user) %}
                    <a href="{{ path('sub_category_add') }}">Créer une sous-catégorie</a>
                    <a href="{{ path('sub_category_edit', {'id': subCategory.id}) }}">Modifier la sous-catégorie</a>
                    <a href="{{ path('thread_add', {'id': subCategory.id}) }}">Ajouter un Thread</a>
                {% endif %}


                {% for thread in subCategory.threads %}
                <a href="{{ path('thread_index', {'id': thread.id}) }}">
                    <strong>{{ thread.subject }}</strong>
                </a>
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}
